/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/logs/laravel-2020-02-12.log
public/qr_employees/142.png
public/qr_employees/781.png
public/qr_employees/889.png
public/qr_employees/892.png
public/qr_employees/919.png
public/qr_employees/938.png
public/qr_employees/1019.png
public/qr_employees/1246.png
public/qr_employees/1616.png
public/qr_employees/1791.png
public/qr_employees/2153.png
public/qr_employees/2157.png
public/qr_employees/2265.png
public/qr_employees/2451.png
public/qr_employees/2470.png
public/qr_employees/2811.png
public/qr_employees/1215.png
public/qr_employees/2247.png
public/qr_employees/2760.png
public/qr_employees/2868.png
public/qr_employees/2869.png
storage/logs/laravel-2020-01-06.log
storage/logs/laravel-2020-01-08.log
storage/logs/laravel-2020-01-13.log
storage/logs/laravel-2020-02-12.log
storage/logs/laravel-2020-08-30.log
storage/logs/laravel-2020-08-31.log
storage/logs/laravel-2020-09-02.log
storage/logs/laravel-2020-09-08.log
storage/logs/laravel-2020-01-06.log
storage/logs/laravel-2020-01-08.log
storage/logs/laravel-2020-01-13.log
storage/logs/laravel-2020-02-12.log
storage/logs/laravel-2020-02-13.log
storage/logs/laravel-2020-02-17.log
storage/logs/laravel-2020-04-20.log
storage/logs/laravel-2020-04-21.log
storage/logs/laravel-2020-04-22.log
storage/logs/laravel-2020-05-05.log
storage/logs/laravel-2020-05-13.log
storage/logs/laravel-2020-05-14.log
storage/logs/laravel-2020-05-18.log
storage/logs/laravel-2020-05-19.log
storage/logs/laravel-2020-10-10.log
storage/logs/laravel-2020-10-13.log
storage/logs/laravel-2020-10-14.log
storage/logs/laravel-2020-10-16.log
storage/logs/laravel-2020-10-22.log
storage/logs/laravel-2020-10-29.log
storage/logs/laravel-2020-11-10.log
storage/logs/laravel-2020-11-11.log
storage/logs/laravel-2020-11-23.log
storage/logs/laravel-2020-12-05.log
storage/logs/laravel-2020-12-17.log
storage/logs/laravel-2020-12-21.log
storage/logs/laravel-2020-12-23.log
storage/logs/laravel-2020-12-28.log
storage/logs/laravel-2020-01-06.log
storage/logs/laravel-2020-01-08.log
storage/logs/laravel-2020-01-13.log
storage/logs/laravel-2020-02-12.log
storage/logs/laravel-2020-02-13.log
storage/logs/laravel-2020-02-17.log
storage/logs/laravel-2020-04-20.log
storage/logs/laravel-2020-04-21.log
storage/logs/laravel-2020-04-22.log
storage/logs/laravel-2021-11-05.log
storage/logs/laravel-2021-11-09.log
storage/logs/laravel-2021-11-28.log
storage/logs/laravel-2021-12-17.log
storage/logs/laravel-2022-01-06.log
storage/logs/laravel-2022-01-17.log
storage/logs/laravel-2022-01-19.log
storage/logs/laravel-2022-02-02.log
storage/logs/laravel-2022-03-02.log
storage/logs/laravel-2020-01-06.log
storage/logs/laravel-2020-01-08.log
storage/logs/laravel-2020-01-13.log
storage/logs/laravel-2020-02-12.log
storage/logs/laravel-2020-02-13.log
storage/logs/laravel-2020-02-17.log
storage/logs/laravel-2020-04-20.log
storage/logs/laravel-2020-04-21.log
storage/logs/laravel-2020-04-22.log
