/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/logs/laravel-2020-02-12.log
public/qr_employees/142.png
public/qr_employees/781.png
public/qr_employees/889.png
public/qr_employees/892.png
public/qr_employees/919.png
public/qr_employees/938.png
public/qr_employees/1019.png
public/qr_employees/1246.png
public/qr_employees/1616.png
public/qr_employees/1791.png
public/qr_employees/2153.png
public/qr_employees/2157.png
public/qr_employees/2265.png
public/qr_employees/2451.png
public/qr_employees/2470.png
public/qr_employees/2811.png
